.card-cadastro {
  max-width: 100%;
  padding: 20px;
}

.header-imagem {
  background-image: url('/assets/img/plus.png');
  background-size: cover;
}

.header-imagem2 {
  background-image: url('/assets/img/comments.png');
  background-size: cover;
}

.form-cadastro {
  text-align: left;
  margin-right: 40px;
  display:block;
}

mat-form-field {
  width: 450px;
}

.observacoes {
  width: 550px;
}

.button {
  margin: 5px;
  align-self: center;

}

.acoes {
  text-align: center;
  max-width: 100%;
}
