.lista-visitas {

  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  min-height: 100vh;
}

.listar-visitas {
  display: block;
  text-align: center;
  margin: 10px;

}
