<mat-toolbar color="secondary" class="header">
  <span>Visitas Cadastradas:</span>
  <span class="spacer"></span>
  </mat-toolbar>

<div class="listar-visitas">
<mat-accordion multi="true" class="lista-visitas" *ngIf="visitas.length > 0">
  <mat-expansion-panel *ngFor="let visita of visitas"
                       (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
<mat-expansion-panel-header>
<mat-panel-title>
{{visita.cliente}}
</mat-panel-title>
<mat-panel-description>
Clique para ver os detalhes da visita de {{visita.cliente}}.
</mat-panel-description>
</mat-expansion-panel-header>
<p>Data: {{visita.data}}</p>
<p>Hora: {{visita.hora}}</p>
<p>Status: {{visita.status}}</p>
<p>Resultado: {{visita.resultado}}</p>
<mat-action-row>
  <button mat-button color="warn" type="button" (click)="onDelete(visita.id)">Excluir</button>
</mat-action-row>
</mat-expansion-panel>
</mat-accordion>


<p *ngIf="visitas.length <= 0">Nenhuma visita foi cadastrada até o momento.</p>

</div>
