.lista-clientes {

  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

.listar-clientes {
  display: block;
  text-align: center;
  margin: 20px;
  min-height: 100vh;

}
