.spacer {
  flex: 1 1 auto;
}

.header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 8px 16px;
}

.logo {
  background-image: url('/assets/img/verified-user.png');
  background-size: cover;
}

.github {
  background-image: url('/assets/img/github.png');
  background-size: cover;
}
