<mat-toolbar color="primary" class="header">
  <button mat-button routerLink="/">
    <mat-icon class="logo"></mat-icon>
    MyCheck
  </button>

  <span class="spacer"></span>

  <section>
    <div class="funcionalidades">
      <button mat-button routerLink="/clientes/cadastrar">Novo Cliente</button>
      <button mat-button routerLink="/visitas/cadastrar">Nova Visita</button>
      <button mat-button routerLink="/visitas/listar">Buscar Visita</button>
      <button mat-button routerLink="/clientes/listar">Buscar Cliente</button>
      <a button mat-button href="https://github.com/BeatrizVasconcelos/mycheck">
        <mat-icon class="github"></mat-icon>
        Github
      </a>
    </div>
  </section>

</mat-toolbar>
